.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  max-width: 25vw;
  margin: 1rem;
  margin-left: 0;
}

.title {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.description {
  font-size: 0.5rem;
}

.technologies {
  display: flex;
  font-size: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  padding-left: 0;
}

.technology {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem;
  margin-left: 0;
  border: 1px solid black;
  padding: 0.25rem;
  background-color: lightgray;
  color: black;
}

.title_container {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.github_logo {
  margin-left: auto;
}

/* sm breakpoint */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 0.75rem;
  }
}
