.container {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}